*{
    margin: 0;
    padding: 0;
    color: #fff;

}
.container{
    height: 100vh;
    width: 100%;
    margin: 0, auto;
    background: url(./assets/home.png) no-repeat;
    background-size: cover;
    display: flex;
}
.ancients{
    margin: 20px 10px;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ancient-card-1{
    margin: 10px;
    width: 40%;
    height: 300px;
    background-color: #000;
    background: url(./assets/Ancients/Azathoth.png) no-repeat;
    background-size: contain;
}
.ancient-card-2{
    margin: 10px;
    width: 40%;
    height: 300px;
    background-color: #000;
    background: url(./assets/Ancients/Cthulthu.png) no-repeat;
    background-size: contain;
}
.ancient-card-3{
    margin: 10px;
    width: 40%;
    height: 300px;
    background-color: #000;
    background: url(./assets/Ancients/IogSothoth.png) no-repeat;
    background-size: contain;
}
.ancient-card-4{
    margin: 10px;
    width: 40%;
    height: 300px;
    background-color: #000;
    background: url(./assets/Ancients/ShubNiggurath.png) no-repeat;
    background-size: contain;
}
.checked-antiont{
    border: 1px solid #fff;
}

.difficulty{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.difficulty button{
    height: 30px;
    width: 70px;
    text-transform: uppercase;
    background-color: #000;
    margin: 20px 5px;
}
.difficulty button:hover{
    border: 1px solid #fff;
}
.deck-container{
    width: 40%;
}
.count-container{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.green{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brown{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: brown;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.blue{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-container{
    margin: 15px;
    display: flex;
    justify-content: space-between;
    
}
.deck{
    width: 200px;
    height: 300px;
    background: url(./assets/mythicCardBackground.png) no-repeat;
    background-size: contain;
}
.cards{
    width: 200px;
    height: 300px;
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
}